.photo-column {
    background-color: white;
    height: 900px;
}

#photo-gallery {
    background-color: rgb(70, 70, 70);
    height: 900px;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color:  rgb(70, 70, 70);
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color: rgb(233, 244, 252);
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}

button {
    background-color: snow;
}